.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow:  0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel label {
  display: block;
  margin-bottom: 10px;
}

.admin-panel input,
.admin-panel select {
  padding: 10;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.admin-panel button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-panel button:hover {
  background-color: #0069d9;
}

.admin-panel .success-message {
  color: green;
  margin-top: 20px;
}

.admin-panel .error-message {
  color: red;
  margin-top: 20px;
}
